* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* allerta-regular - latin */
@font-face {
    font-family: 'Allerta';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/allerta-v11-latin-regular.eot');
    /* IE9 Compat Modes */
    src: local(''),
        url('../fonts/allerta-v11-latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/allerta-v11-latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/allerta-v11-latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/allerta-v11-latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/allerta-v11-latin-regular.svg#Allerta') format('svg');
    /* Legacy iOS */
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Allerta;
    font-weight: 400;
    user-select: none;
}

.js-scroll {
    text-decoration: none;
    color: #828282;
    transition: ease-in-out .3s all;
}

.js-scroll:hover {
    color: #000;
}

img {
    pointer-events: none;
}

.container {
    max-width: 944px;
    margin: 0 auto;
}

.header {
    min-height: 88px;
    font-family: Allerta;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;

}

.header__burger {
    display: none;
}
/* .burger__active{
    display: none;
} */
.burger__disabled{
    display: none;
}

/* .line-1,
.line-2,
.line-3 {
    height: 4px;
    width: 33px;
    background-color: #000;
    margin-bottom: 4px;
} */

.tabs {
    height: 88px;
    color: #828282;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: #828282 2px solid;
    cursor: pointer;
}

.tab {
    transition: ease-out .3s all;
}

.tab:hover {
    color: black;
}

.name__info-photo {
    height: 680px;
}

.info-heading {
    position: relative;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-family: Allerta;
    position: relative;
}

.heading-name {
    width: 120px;
    font-size: 48px;
    line-height: 59px;
    letter-spacing: -3px;
    font-weight: 700;
}

.heading-miniinfo {
    max-width: 155px;
    min-height: 44px;
    margin-top: 72px;
    margin-bottom: 50px;
    margin-right: 362px;
}

.heading-lang {
    color: #828282;
    font-weight: 700;
    position: absolute;
    bottom: 88px;
    right: -17px;
    transform: rotate(-90deg);
}

.photo {
    background-image: url('../img/man.jpg');
    width: 945px;
    height: 388px;
}

.about__me {
    min-height: 506px;
    background: #F6F6F6;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.about__me-heading {
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    color: #070707;
    margin-bottom: 18px;

}

.p1,
.p2 {
    margin-bottom: 36px;
}

.about__me-text {
    max-width: 485px;
}

.skills {
    min-height: 610px;
}

.skills-heading {
    text-align: center;
    font-size: 34px;
    line-height: 42px;
    font-weight: 600;
    color: #070707;
    margin-top: 90px;
    margin-bottom: 70px;
}

.skills-underheading {
    color: #070707;
    text-align: center;
}

.programs {
    display: flex;
    justify-content: space-between;
    margin-top: 88px;
}

.programs-heading {
    width: 72px;
    height: 28px;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    align-items: center;
    color: #828282;
    margin-bottom: 40px;
}

.prog {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolio {
    background: #F6F6F6;
    /* min-height: 2253px; */
    padding-bottom: 97px;
}

.portfolio__heading {
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    font-weight: 700;
    color: #070707;
    padding-top: 112px;
    padding-bottom: 48px;
}

.pic,
.pic:not(:first-child) {
    margin-top: 100px;
    margin-bottom: 45px;
}

.portfolio-pic {
    display: flex;
    flex-direction: column;
}

.link {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    align-items: center;
    text-decoration-line: underline;
    color: #070707;
    transition: ease-in-out .3s all;
}

.link:hover {
    color: #264f88;
}

.contacts {
    min-height: 622px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact-heading {
    font-size: 34px;
    line-height: 42px;
    font-weight: 700;
    color: #070707;
    margin-bottom: 20px;
}

.contact-underheading {
    font-size: 18px;
    line-height: 22px;
    color: #070707;
    margin-bottom: 30px;
}

.contact__button {
    padding: 13px 30px;
    cursor: pointer;
    border-radius: 30px;
    background-color: #070707;
    color: #fff;
    margin-bottom: 70px;
    border: none;
    outline: none;
    box-shadow: #8d8686 3px 3px 6px;
    transition: ease-in-out .3s all;

}

.contact__button:hover {
    transform: translateY(5px);
}

.socials {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;
}

.likemeon {
    font-size: 14px;
    line-height: 17px;
    color: #828282;
}
/* //////////////////////media querries///////////////////////////// */

@media screen and (max-width: 1000px) {
    .header {
        display: none;
        position: relative;
    }

    .info-heading {
        margin-top: 20px;
        flex-wrap: wrap;
    }

    .header__burger {
        cursor: pointer;
        display: block;
        position: absolute;
        top: 15px;
        right: 0;
    }
    .burger__active{
        top: 0;
        left: 0;
        display: block;
        height: 100vh;
        position: fixed;
        width: 100%;
        background-color: #fff;
    }
    .close{
        padding: 10px;
        cursor: pointer;
        z-index: 10;
    }

    .heading-miniinfo {
        margin-right: 170px;
    }

    .heading-lang {
        display: none;
    }

}

@media screen and (max-width: 968px) {
    .info-heading {
        margin: 20px 20px 0 20px;
    }
    .header__burger {
        top: 20px;
    }
    .heading-miniinfo {
        margin-right: 170px;
    }
    .photo {
        background-image: url('../img/man.jpg');
        width: 850px;
        height: 388px;
        margin: 0 auto;
        margin-bottom: 83px;
    }
    .programs{
        margin-right: 24px;
        margin-left: 24px;
    }
    .pic{
        width: 800px;
        height: 410px;
        text-align: center;
    }
    .portfolio-pic{
        display: flex;
        align-items: center;
    }
}

@media screen and (max-width: 900px) {
    .info-heading {
        margin: 20px 20px 0 20px;
    }
    .header__burger {
        top: 15px;
    }
    .heading-miniinfo {
        margin-right: 170px;
    }

    .photo {
        background-image: url('../img/man.jpg');
        width: 800px;
        height: 388px;
        margin: 0 auto;
        margin-bottom: 83px;
    }
}

@media screen and (max-width: 830px) {
    .info-heading {
        margin: 20px 30px 0 30px;
    }

    .heading-miniinfo {
        margin-right: 170px;
    }
    .header__burger {
        top: 18px;
    }
    .photo {
        background-image: url('../img/man.jpg');
        width: 730px;
        height: 388px;
        margin: 0 auto;
        margin-bottom: 83px;
    }
    .pic{
        width: 700px;
        height: 370px;
    }

}

@media screen and (max-width: 740px) {

    .heading-miniinfo {
        margin-right: 90px;
    }
    .header__burger {
        top: 20px;
    }
    .photo {
        background-image: url('../img/man.jpg');
        width: 600px;
        height: 388px;
        margin: 0 auto;
        margin-bottom: 83px;
    }
    .pic{
        width: 600px;
        height: 330px;
    }
}

@media screen and (max-width: 630px) {
    .name__info-photo {
        height: 836px;
    }

    .info-heading {
        position: relative;
        margin-top: 0px;
        padding: 0;
    }

    .heading-miniinfo {
        margin-right: 90px;
    }

    .photo {
        background-image: url('../img/man-min.jpg');
        width: 317px;
        height: 478px;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 83px;
    }

    .heading-name {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .header__burger {
        top: 45px;
    }
    .skills{
        padding-bottom: 90px;
    }
    .programs{
        flex-direction: column;
    }
    .prog{
        margin-bottom: 80px;
    }
    .pic{
        width: 490px;
        height: 290px;
    }
   
}

@media screen and (max-width: 500px) {
    .header__burger {
        top: 50px;
    }
    .heading-name {
        width: 170px;
        font-size: 48px;
        line-height: 59px;
        letter-spacing: -3px;
        font-weight: 700;
    }
    .pic{
        width: 420px;
        height: 238px;
    }
}
@media screen and (max-width: 473px){
    .heading-miniinfo {
        margin-top: 23px;
    }
    .heading-name {
        width: 170px;
        font-size: 48px;
        margin-bottom: 0;
        line-height: 59px;
        letter-spacing: -3px;
        font-weight: 700;
    }
    .pic{
        width: 320px;
        height: 180px;
    }
   
}
@media screen and (max-width: 320px){
    .photo{
        width: 300px;
    }
    .about__me-text{
        margin-right: 5px;
        margin-left: 5px;
    }
    .pic{
        width: 280px;
        height: 160px;
    }
}
@media screen and (max-width: 280px){
    .photo {
        width: 260px;
        height: 430px;
        overflow: hidden;
        margin: 0 auto;
        margin-bottom: 83px;
    }
}